
<div class="row poll-container" ng-controller="PollController">
  <div class="col s12">
    <div class="row" ng-show="isPollAvailable()" ng-cloak>
      <div class="col s12 l8">
          <div class = "card">
            <div class="card-content">
              <span class="card-title">{{ questions[currentQuestionIndex].content }}:</span>

              <div ng-repeat="answer in questions[currentQuestionIndex].answers">
                <p>
                  <input class="blue" name="answer" type="radio" ng-model="$parent.currentAnswerId" id="{{'answer' + answer.id}}" value="{{answer.id}}" />
                  <label for="{{'answer' + answer.id}}">{{ answer.content }}</label>
                </p>
              </div>
              <div class = "progress-bar" ng-style="{width: ( getProgress() + '%' ) }">{{ getProgressFraction() }}</div>
            </div>
            <div class="card-action right-align">
              <a ng-click="submitAnswer()">Siguiente</a>
            </div>

          </div>



      </div>
      <div class="col s12 l4">
        <div class="postit">
          {{ postits[currentQuestionIndex].content }}
        </div>
      </div>
    </div>
    <div class="row" ng-show="pollCompleted" ng-cloak>
      <div class="col s12 l8">
        <div id="results-chart">
          <div class="axis y"></div>
          <div class="axis x"></div>
          <div class="legend x left">Menos desarrollada</div>
          <div class="legend x right">Más desarrollada</div>
          <div class="legend y top">Mayor concentración de poder</div>
          <div class="legend y bottom">Menor concentración de poder</div>
          <div class="result circle" ng-repeat="result in results" ng-style="{'left': result.coords.x, 'top': result.coords.y, 'background-image': 'url(' + result.image +')'}">
            <div class="name">{{result.name}}</div>
          </div>
        </div>
        <h4>¿Cómo leer el gráfico?</h4>
        <h5>Eje de las abscisas</h5>
        <p>Mide concentración/dispersión del poder. Quienes se encuentran más arriba tienden a valorar más las instituciones, autoridades fuertes, ser más presidencialistas y centralistas. Por el contrario, a menor puntaje en este eje, más inclinación a un ejercicio disperso del poder, a la democracia directa, y a “bajar” los niveles a las bases.</p>
        <h5>Eje de las ordenadas</h5>
        <p>Se refiere a la preferencia por una Constitución desarrollada o mínima. Quienes obtengan alto puntaje en este eje son quienes optan por la segunda opción, siendo más favorables a los cambios culturales, o incluso al desarrollo legislativo o través de las políticas públicas de determinados objetivos políticos, pero no en la Constitución. Contrariamente, quienes obtengan bajo puntaje están más proclives a una Constitución ampliamente desarrollada, que no sólo tome vastas definiciones políticas, sino que explicite algunos de los mecanismos a usar para lograrlos.</p>
      </div>
      <div class="col s12 l4">
        <h4>Tu resultado</h4>
        <h2>{{quadrant.name}}</h2>
        <p>{{quadrant.description}}</p>
        <div id="share-with-facebook" ng-click="shareWithFacebook()" ng-show="quadrant.name">¡Compártelo en Faceook!</div>
        <div class="facebook-friends">
          <p>Tus amigos también han respondido esta encuesta.</p>
          <div class="facebook-friend" ng-repeat="result in results | filter:{famous:false, self: false}" ng-style="{'background-image': 'url(' + result.image +')'}">
          </div>
        </div>
        <%= render 'layouts/actions' %>
      </div>

    </div>
  </div>
</div>
