

<div class="row sign-in">
  <div class="col s12">
    <p class="big-text">
      Nuestros puntos de vista puede enriquecer la conversación y el debate, pero no te olvides, esto es construcción conjunta; no es lo importante no es cómo la quieras tú, yo, o el vecino...sino que todos podamos sentirnos cómodos en ella.
    </p>
    <div id="facebook-button">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
