footer.page-footer
  background: rgba(238, 238, 238, 1.0)
  color: rgba(119, 119, 119, 1.0)
  background-image: image-url('msg.png')
  background-repeat: no-repeat
  background-position: right center
  background-size: 200px auto
  overflow: hidden
  .help-links
    text-align: center
    li
      display: inline-block
      margin: 0px 10px
      a
        color: rgba(102, 152, 179, 1.0)
        font-size: 18px
        &:hover
          color: rgba(67, 113, 137, 1.0)
          text-decoration: underline
