#main-header
  background: white
  height: 109px
  line-height: 109px
  .submenu
    display: none
    position: absolute
    z-index: 12
    width: 210px
    border: 1px solid rgba(0, 0, 0, 0.15)
    box-shadow: 0 6px 12px rgba(0,0,0,.175)
    background: white
    ul
      li
        float: none
        line-height: 1.5em
        font-size: 13px
        &:hover
          background: #eee
        a
          padding: 10px
  .social
    text-align: center

    img
      width: 30px
      vertical-align: middle
      margin: 0px 20px
  .logo
    text-align: center
    img
      vertical-align: middle
  @media sceen and (max-width: 700px)
    ul li
      float: none
  ul.main-nav
    & > li
      position: relative
      &:hover
        background-color: rgba(189, 205, 221, 1.0)
        .submenu
          display: block
      a
        color: rgba(119, 119, 119, 1.0)
        font-size: 18px
        &:hover
          color: black
          background: none


.caret
  display: inline-block
  width: 0
  height: 0
  margin-left: 2px
  vertical-align: middle
  border-top: 4px dashed
  border-top: 4px solid\9
  border-right: 4px solid transparent
  border-left: 4px solid transparent

.page-title
  background: rgba(245, 245, 245, 1.0)
  color: #333
  padding: 10px 0px
  a
    color: rgba(102, 152, 179, 1.0)
    font-weight: bolder
  h3
    font-size: 38px
    font-weight: 300
    margin: 6px
