.poll-container
  .card-content
    padding-bottom: 50px
    position: relative

  .card-action
    a
      cursor: pointer
  .submit-btn
    float: right

  .postit
    background-image: image-url('postit.png')
    background-size: 100% auto
    padding: 80px 70px 50px 50px
    height: 300px
    width: 300px
    font-size: 12px

#share-with-facebook
  background: rgba(57, 87, 154, 1.0)
  width: 100%
  border-radius: 3px
  cursor: pointer
  box-sizing: border-box
  padding: 10px
  color: white
  text-align: center
