<div class="actions">
  <a href="http://www.gob.cl/2015/10/13/8-conceptos-del-proceso-para-la-nueva-constitucion/" target="_blank">
      <div class="nc-button">Más información</div>
  </a>
  <p class="description">Revisa los 8 conceptos del proceso para la nueva Constitución.</p>
  <a href="/estadisticas">
    <div class="nc-button">Ver estadísticas</div>
  </a>
  <p class="description">Revisa las estadísticas de los resultados de la encuesta.</p>
</div>
