%footer.page-footer
  .container
    .row
      .col.s12.m3
        .logo= image_tag 'logo.svg'
      .col.s12.m6
        %p
          %b Nuestra oficina está ubicada en:
        %p Huérfanos 863, oficina 612, Santiago Centro

      .col.s12.m3.center
        %p
          Sitio financiado por el Fondo de fortalecimiento de las organizaciones de interés público
    .row.help-links
      .col.s12
        %ul
          %li= link_to 'Transparencia', 'http://nosotrosciudadanos.cl/transparencia/'
          %li= link_to 'Preguntas Frecuentes', 'http://nosotrosciudadanos.cl/preguntas-frecuentes/'
          %li= link_to 'Contacto', 'http://nosotrosciudadanos.cl/contacto/'
