%footer.page-footer
  .container
    .row
      .col.s6
        %h3 Colabora con nosotros!
        %p Existen muchas formas de ser parte de Nosotros Ciudadanos. Elige la que más se acomode a tus posibilidades.
      .col.s2

        Informándote
      .col.s2
        Realizando una donación
      .col.s2
        Colaborando como voluntario
    .row
    .row
